<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BEAUTY APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="container">
      <div class="container-header">
        <h1>Beauty みっしょん</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">TODAYSこんぷりーと</p>
        <% if (errors.length > 0) { %>
          <ul class="errors">
            
            <% errors.forEach(error => {%>
              <li><%= error %></li>
            <% }); %>
          </ul>
        <% } %>
        <form action = "/create" method = "post">
            <input type="text" name="itemName">
            <input type="submit" value="作成する">
        </form>
      </div>
      
      
    </div>
  </body>
</html>